/************************************
  Dashboard
************************************/
#dashBoxContainer {
  display: flex;
  flex-flow: row nowrap;
}
.dashBox {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 25%;
  font-family: 'Nunito', Helvetica, sans-serif;
  min-height: 400px;
}
.dashBox:hover {
  text-decoration: none !important;
}
.dashBox > div {
  background: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 10px;
  transition: background 0.2s ease-in-out;
}
.dashBox:hover > div {
  background: rgba(0, 0, 0, 0.75);
  border: none;
}
.dashBox i {
  margin-bottom: 0.5rem;
}
.dashBox h2 {
  color: #F57C00;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#dashBasic {
  background-image: url('../images/relay_action_bw.jpg');
}
#dashResults {
  background-image: url('../images/pole_vault_w_bw.jpg');
}
#dashTeam {
  background-image: url('../images/relay_bw.jpg');
  /*background-position: right;*/
}
#dashSettings {
  background-image: url('../images/hurdles_bw.jpg');
}
