.orange {
  color: #EF6C00;
}
.fw300 {
  font-weight: 300;
}
html, body, #root {
  height: 100%;
}
#siteWrapper, html, body {
  min-height: 100%;
  position: relative;
}
#contentWrapper {
  padding-bottom: 4rem;
}
#site-header {
  background: #333;
  color: white;
  font-family: 'Nunito', Helvetica, sans-serif;
  padding: 0.5rem;
}
#headerLink {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
#headerLink h4 {
  padding: 0;
  margin: 0;
}
#headerLogo {
  height: 40px;
  margin-right: 0.25rem;
}
#site-header h1 {
  margin-bottom: 0;
}
#site-header a {
  border-radius: 2px;
  color: white;
  text-decoration: none;
  padding: 1px 10px;
}
#site-footer {
  background: #999;
  bottom: 0;
  color: #333;
  left: 0;
  position: absolute;
  right: 0;
}
.selected {
  background: black;
}
.window {
  margin: -1rem;
  width: 100%;
}
#searchQuery {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
#searchButton {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/*Styles for the Search Page*/
#searchPage {
    display: flex;
    flex-direction: row;
    top: 0;
}
#searchPage #left {
    width: 49.75%;
    height: 60000px;
}

#searchQuery{
    width: 80%;
}

#searchPage #right {
    width: 49.75%;
    height: 60000px;
}

.panel-body {
    padding: 20px;
}

.p-3 {
    padding: 0;
}

.col-sm-6 {
    padding-top: 16px;
}


/*Styles for Admin Dashboard*/
#adminViewMeet {
    color: white;
    text-decoration: none;
}
#adminViewMeet :visited {
    text-decoration: none;
}
