#site-header {
  background: #333;
  color: white;
}
#site-header h1 {
  margin-bottom: 0;
}
#site-header a {
  border-radius: 2px;
  color: white;
  text-decoration: none;
  padding: 1px 10px;
}
#site-footer {
  background: #999;
  color: #666;
}
.selected {
  background: black;
}
.window {
  margin: -1rem;
  width: 100%;
}
#searchQuery {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
#searchButton {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/*Styles for the Search Page*/
#searchPage {
    display: flex;
    flex-direction: row;
    top: 0;
}
#searchPage #left {
    width: 49.75%;
    height: 60000px;
}

#searchQuery{
    width: 80%;
}

#searchPage #right {
    width: 49.75%;
    height: 60000px;
}

.panel-body {
    padding: 20px;
}

.p-3 {
    padding: 0;
}

.col-sm-6 {
    padding-top: 16px;
}


/*Styles for Admin Dashboard*/
#adminViewMeet {
    color: white;
    text-decoration: none;
}
#adminViewMeet :visited {
    text-decoration: none;
}

/*Styles for home page*/

#home{
    height: 100%;
    /*margin: 0px;*/
}

.homerow {
    /*border: solid;*/
    height: 325px;
    width: 100%;
    margin: 10px;
}

#homeTop {
    background-image: url(../images/800m.jpg);
    background-size: cover;
    padding: 10px;
    opacity: .5;
    /*background-position: center;*/
}

#homeMiddle{
    background-image: url(../images/schedule.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    opacity: .5;


}

#homeBottom {
    background-image: url(../images/MoUsain.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    /*opacity: .5;*/
    z-index: -1;

}

#searchMeetsInfo {
    background-color: #E65800;
    opacity: 1;
    z-index: 2;
}

#scheduleInfo {
    background-color: #E65800;
    opacity: 1;
}

#profileInfo {
    background-color: #E65800;
    opacity: 1;

}

#homeHeader {
    background-color: #E65800;
    margin-left: -20%;
    padding-left: 20%;
    margin-right: -11.5%;
    padding-right: 20%;
    padding-bottom: 10%;
}
