#site-header {
  background: #333;
  color: white;
}
#site-header h1 {
  margin-bottom: 0;
}
#site-header a {
  border-radius: 2px;
  color: white;
  text-decoration: none;
  padding: 1px 10px;
}
#site-footer {
  background: #999;
  color: #666;
}
.selected {
  background: black;
}

#searchQuery {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
#searchButton {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/*Styles for the Search Page*/
#searchPage {
    display: flex;
    flex-direction: row;
    top: 0;
}
#searchPage #left {
    width: 49.75%;
    height: 60000px;
}

#searchQuery{
    width: 80%;
}


#searchPage #right {
    width: 49.75%;
    height: 60000px;
}

.panel-body {
    padding: 20px;
}

.p-3 {
    padding: 0;
}

.col-sm-6 {
    padding-top: 16px;
}
